@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

.swiper-grid-jobobx {
  width: 100%;

}

.swiper-grid-jobobx .swiper-slide {

  height: calc((100% - 30px) / 2) !important;
}